@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    /* body-color */
    --dark-black-color: #212121;

    /* alert colors */
    --error-alert-Bgcolor: #180605;
    --error-font: #D9C195;
    --warning-alert: #190F00;
    --warning-font: #F8D399;
    --warning-image: #B56B00;
    --info-alert: #030E18;
    --info-font: #67C0FA;
    --success-alert: #071107;
    --success-font: #B7DFB9;

    /* badge icon bgcolor*/
    --badge-icon-bgcolor: #F48FB1;

    /* button */
    --primary-btn: #F48FB1;
    --secondary-btn: #67C0FA;
    --link-btn: #B56B00;

    /* card */
    --card-background-color: #515151;
    /* fonts */
    /* font-family: 'Roboto', sans-serif;
    use 2 fonts as far as you can */
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--dark-black-color);
    /* color:#fff; */
    font-family: 'Roboto', sans-serif;
    margin:0;padding:0;
}

.section {
    margin: 10rem 0 5rem 10rem;
    color: var(--info-font)
}

.carbon img {
    margin-bottom: 1rem;
    padding: 1rem 0 0 0;
    max-width: 80%;
    height: auto;
}

/* sidenav */
.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    /* border-right:1px solid red; */
    /*   top:0.5; */
    height: 100%;
    z-index: 100;
}
.sidenav a,.sidenav a:visited{
    color:white;
    text-decoration: none;
}
.sidenav a:link{
    color:white;
}
.sidenav a:active{
    color:var(--info-font);
}
.sidenav li{
    margin-bottom:1rem; 
}

.sidenav a:hover{
    padding-left:1rem;
    transition: 0.4s all ease;
}


/* navbar */
.nav {
    padding: 1rem;
    background-color: #90CAF9;
    color: #131A20;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* z-index: 1000; */
}

.inline-list {
    display: inline-flex;
    padding: 0 1rem 0 1rem;

}

.navbar-set {
    display: flex;
    padding: 0 4rem 0 0;
    /* align-items:center;    */
}

.navbar-search {
    background-color: #ACD7FB;
    outline: 0;
    border-radius: 0.5rem;
    border-width: 0px;
    color: #131A20;
    padding: 1rem;
}

.navbar-search:focus {
    padding-right: 3rem;
    transition: 0.4s ease ;
}

.navbar-search::placeholder {
    color: #6E89A0;
}

.search-icon {
    margin: 0.5rem;
    background-color: transparent;
    outline: none;
    border: 0 1px 1px 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.nav a{
    color:white;
    text-decoration: none;
}

.active-link{
    font-weight: bold;
    text-decoration: underline;
}

.search-icon:active {
    transform: scale(0.90);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24);
    outline: none;
}

/* header */

.banner {
    margin: 7rem 0 1rem 0;
    border: 1px solid black;
    background-color: red;
    height: 10rem;
    width: auto;
}

/* Avatar */
.avatar {
    color: white;
}

.avatar-svg {
    border: 2px solid white;
    vertical-align: baseline;
    /*can be edited as per need*/
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.medium {
    height: 2.5rem;
    width: 2.5rem;

}

.small {
    height: 1.5rem;
    width: 1.5rem;
}

/* alert */
.alert {
    font-size: 1rem;
    font-weight: medium;
    max-width: 30rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
}

.error-alert {
    background-color: var(--error-alert-Bgcolor);
    color: var(--error-font);
}

.error-alert-image {
    vertical-align: middle;
    height: 1.5rem;
    padding: 0.5rem;
    /* background-color:var(--warning-alert); */
}

.error-txt {
    padding-left: 0.5rem;
}

.warning-alert {
    background-color: var(--warning-alert);
    color: var(--warning-font);
}

.warning-alert-image {
    vertical-align: middle;
    height: 1.5rem;
    padding: 0.5rem;
    background-color: var(--warning-alert);
}

.warning-txt {
    padding-left: 0.5rem;
}

.info-alert {
    background-color: var(--info-alert);
    color: var(--info-font);
}

.info-alert-image {
    vertical-align: middle;
    padding: 0.5rem;
    height: 1.5rem;
    /* width:auto; */
    /* background-color:var(--warning-alert); */
}

.info-txt {
    padding-left: 0.5rem;
}

.success-alert {
    background-color: var(--success-alert);
    color: var(--success-font);
}

.success-alert-image {
    vertical-align: middle;
    height: 1.5rem;
    padding: 0.5rem;
    /* background-color:var(--success-alert); */
}

.success-txt {
    padding-left: 0.5rem;
}

/* badge */
/* badge-on-icon */
.icon-badge {
    height: 4rem;
    width: 4rem;
    border: 1px solid red;
}

.icon-badge-image {
    position: absolute;
    height: 2rem;
    padding-left: 0.5rem;
}

.badge-on-icon {
    color: black;
    background-color: var(--badge-icon-bgcolor);
    position: relative;
    bottom: 0.5em;
    left: 1.5em;
    ;
    border-radius: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

/* badge-on-avatar */
.avatar-class {
    position: relative;
}



.badge-on-avatar {
    border: 2px solid var(--dark-black-color);
    position: absolute;
    bottom: 0.4em;
    left: 3rem;
    border-radius: 50%;
    height: 0.7rem;
    width: 0.7rem;
    background-color: rgb(21, 231, 21);
}

.badge-on-avatar-offline {
    border: 2px solid var(--dark-black-color);
    position: absolute;
    bottom: 0.4em;
    left: 3rem;
    border-radius: 50%;
    height: 0.7rem;
    width: 0.7rem;
    background-color: red;
}

/* button */

.primary-btn {
    border: 1px solid var(--primary-btn);
    color: var(--primary-btn);
    padding: 0.7rem 2rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    outline: none;
    /* use em and rem isntead of px works best for both . */
}

.secondary-btn {
    border: 1px solid var(--secondary-btn);
    color: var(--secondary-btn);
    padding: 0.7rem 2rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    outline: none;
}

.link-btn {
    border: 1px solid var(--link-btn);
    color: var(--link-btn);
    padding: 0.7rem 2rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    outline: none;
}
.secondary-btn a{
    text-decoration: none;
    color:var(--info-font);
}
.btn-home {
    border: transparent;
    background-color: transparent;
    color: var(--primary-btn);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.btn-bars {
    border: transparent;
    background-color: transparent;
    color: var(--primary-btn);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.btn-trash {
    border: transparent;
    background-color: transparent;
    color: var(--warning-font);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.btn-close {
    border: transparent;
    background-color: transparent;
    color: var(--link-btn);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.btn-folder {
    border: transparent;
    background-color: transparent;
    color: var(--secondary-btn);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.btn-close {
    border: transparent;
    background-color: transparent;
    color: var(--link-btn);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.btn-plus-circle {
    border: transparent;
    background-color: transparent;
    color: var(--secondary-btn);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.btn-pencil {
    border: transparent;
    background-color: transparent;
    color: var(--secondary-btn);
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;

}

.btn:active {
    transform: scale(0.90);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24);
    outline: none;
}

.card {
    /* border: 1px solid black; */
    display: grid;
    grid-template-areas:
        "img sidetxt "
        "img sidetxt "
        "img sidetxt ";
    height: 15rem;
    max-width: 30rem;
    background-color: var(--card-background-color);
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.horizontal-card-text {
    grid-area: sidetxt;
    position: absolute;
}

.image-oncard {
    height: 15rem;
    max-width: 10rem;
    width: 100%;
    grid-area: img;
}

.side-text {
    padding-left: 1rem;
}

.link-in-action {
    position: relative;
    top: 10%;
    padding-left: 1rem;
}




/* vertical card */
.vertical-card {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 20rem;
    background-color: var(--card-background-color);
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.vertical-img {
    height: 250px;
    width: 100%;

}

.vertical-card-txt {
    /* border: 1px solid black; */
    height: 100%;
    max-width: 20rem;
    padding: 1rem;
    /* flex:auto; */
}

.txt-card {
    /* border: 1px solid rgb(122, 45, 45); */
    background-color: var(--card-background-color);
    color: white;
    padding: 0.5em 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    height: 100%;
    max-width: 300px;
}

.dismiss-card {
    position: relative;
    /* border: 1px sol  id black; */
    background-color: var(--card-background-color);
    color: white;
    padding: 0.5em 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    height: 100%;
    max-width: 300px;
}

.dismiss-img {
    position: absolute;
    height: 1em;
    top: 0.5em;
    right: 0.5em;
}

.card-with-badge {
    position: relative;
    /* border: 1px solid black; */
    background-color: var(--card-background-color);
    color: white;
    padding: 2rem 1.5rem;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    max-width: 300px;
}

.cards {
    border-radius: 5px;
}

.cards:hover {
    background-color: black;
    border-radius: 10px;

}

.discount-img {
    position: relative;
}

.discount-badge {
    position: absolute;
    height: 50px;
    top: 8%;
    right: 10%;
}

/* resp images */
.res-img {
    max-width: 15rem;
    height: auto;
    width: 100%;
}

.round-res-img {
    max-width: 15rem;
    height: auto;
    width: 100%;
    border-radius: 50%;
}

/* input */
.container {
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    /* background: #FFF; */
    padding: 10px 50px 50px;
}


/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}

.group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 285px;
    border: none;
    color: white;
    border-bottom: 1px solid #757575;
    background-color: transparent;
}

.group input:focus {
    outline: none;
}

/* LABEL ======================================= */
.group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus~label,
.group input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.group input:focus~.bar:before,
.group input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.group input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/* list notification page */

.stacked-list {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    max-height: 30rem;
    width: 35rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* .stacked-list::-webkit-scrollbar {
    width: 11px;
    
}
.stacked-list{
    scrollbar-width: thin;
    scrollbar-color: var(--info-font);
} */

.list-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    /*   flex-direction:row; */
    border: 1px solid #999;
    border-radius: 1rem;
    width: 30rem;
    height: 8rem;
    /*   margin-bottom:0.1rem; */
    padding: 0.5rem 1rem;
}

.list-content img {
    display: flex;
    flex-direction: column;
    height: 4rem;
    border-radius: 50%;
    align-self: center;
}

.list-content span {
    padding-left: 1rem;
    overflow: hidden;
}

.list-content h4 {
    text-decoration: underline;
}

.list-content p {
    overflow: hidden;
}

.list-content span:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 25rem;
    height: 5rem;
    text-overflow: ellipsis;
    background: linear-gradient(rgba(255, 255, 255, 0), var(--dark-black-color));
}


/* sanckbar/Modal */

#snackBr {
    position: fixed;
    display: flex;
    visibility: hidden;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 15rem;
    border-left: 0.7rem solid #3BB54A;
    border-radius: 1rem;
    background-color: var(--success-alert);
    z-index: 1;
    left: 50%;
    bottom: 30px;
    color: white;
}

.svg {
    height: 1.5rem;
    padding-right: 1rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackBr.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


/* Rating */

.checked {
    color: orange;
    /* background-color: transparent; */

}

.fa-star:hover {
    cursor: pointer;
}


/* Slider */
.pure-material-slider {
    --pure-material-hover-helper1: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04);
    --pure-material-hover-helper2: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
    --pure-material-hover-helper3: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
    --pure-material-active-helper4: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
    display: inline-block;
    width: 200px;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-slider>input {
    -webkit-appearance: none;
    position: relative;
    top: 24px;
    display: block;
    margin: 0 0 -36px;
    width: 100%;
    height: 36px;
    background-color: transparent;
    cursor: pointer;
}

/* Without Span */
.pure-material-slider>input:last-child {
    position: static;
    margin: 0;
}

/* Span */
.pure-material-slider>span {
    display: inline-block;
    margin-bottom: 36px;
}

/* Focus */
.pure-material-slider>input:focus {
    outline: none;
}

/* Disabled */
.pure-material-slider>input:disabled {
    cursor: default;
    opacity: 0.38;
}

.pure-material-slider>input:disabled+span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Webkit | Track */
.pure-material-slider>input::-webkit-slider-runnable-track {
    margin: 17px 0;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* Webkit | Thumb */
.pure-material-slider>input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transform: scale(6, 6);
    transition: box-shadow 0.2s;
}

/* Webkit | Hover, Focus */
.pure-material-slider:hover>input::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-hover-helper1);
}

.pure-material-slider>input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-hover-helper2);
}

.pure-material-slider:hover>input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-hover-helper3);
}

/* Webkit | Active */
.pure-material-slider>input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-active-helper4) !important;
}

/* Webkit | Disabled */
.pure-material-slider>input:disabled::-webkit-slider-runnable-track {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider>input:disabled::-webkit-slider-thumb {
    background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
    color: rgb(var(--pure-material-surface-rgb, 255, 255, 255));
    transform: scale(4, 4);
}


/* Text Utility */
/* 
.font-size-1rem {
    font-size: 1rem;
}

.font-size-1_5rem {
    font-size: 1.5rem;
}

.font-size-2rem {
    font-size: 2rem;
}

.heading-utility {
    text-decoration: underline;
}

.paragraph-utility {
    text-decoration: underline;
}
*/