@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    /* body-color */
    --dark-black-color: #212121;

    /* alert colors */
    --error-alert-Bgcolor: #180605;
    --error-font: #D9C195;
    --warning-alert: #190F00;
    --warning-font: #F8D399;
    --warning-image: #B56B00;
    --info-alert: #030E18;
    --info-font: #67C0FA;
    --success-alert: #071107;
    --success-font: #B7DFB9;

    /* badge icon bgcolor*/
    --badge-icon-bgcolor:#F48FB1;

    /* button */
    --primary-btn:#F48FB1;
    --secondary-btn:#67C0FA;
    --link-btn:#B56B00;
    /* fonts */
    /* font-family: 'Roboto', sans-serif;
    use 2 fonts as far as you can */
    


}

body {
    background-color: var(--dark-black-color);
    /* color:#fff; */
}


/* Avatar */
.avatar-svg {
    border: 2px solid black;
    vertical-align: baseline;
    /*can be edited as per need*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* alert */
.alert {
    padding: 4px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: medium;
    max-width: 400px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.error-alert {
    background-color: var(--error-alert-Bgcolor);
    color: var(--error-font);
}

.error-alert-image {
    vertical-align: middle;
    height: 20px;
    padding: 7px;
    /* background-color:var(--warning-alert); */
}

.error-txt {
    padding-left: 7px;
}

.warning-alert {
    background-color: var(--warning-alert);
    color: var(--warning-font);
}

.warning-alert-image {
    vertical-align: middle;
    height: 25px;
    padding: 7px;
    background-color: var(--warning-alert);
}

.warning-txt {
    padding-left: 1px;
}

.info-alert {
    background-color: var(--info-alert);
    color: var(--info-font);
}

.info-alert-image {
    vertical-align: middle;
    padding: 7px;
    height: 18px;
    /* width:auto; */
    /* background-color:var(--warning-alert); */
}

.info-txt {
    padding-left: 7px;
}

.success-alert {
    background-color: var(--success-alert);
    color: var(--success-font);
}

.success-alert-image {
    vertical-align: middle;
    height: 20px;
    padding: 7px;
    /* background-color:var(--success-alert); */
}

.success-txt {
    padding-left: 7px;
}

/* badge */
/* badge-on-icon */
.icon-badge{
    height:50px;
    width:40px;
    border:1px solid red;
}
.icon-badge-image{
    position:absolute;
    height:25px;
    padding-left: 5px;
}
.badge-on-icon {
    color: black;
    background-color: var(--badge-icon-bgcolor);
    position: relative;
    bottom:7px;
    left:18px;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

/* badge-on-avatar */
.avatar{
    position: relative;
}
.avatar-svg {
    border: 2px solid white;
    vertical-align: baseline;
    /*can be edited as per need*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.badge-on-avatar {
    border: 2px solid white;
    position: absolute;
    bottom:0.5em;
    left:2.5rem;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

/* button */
.button-class  button {
    font-weight:lighter;
}


.primary-btn {
    border:0.5px solid var(--primary-btn);
    color:var(--primary-btn);
    padding:1em 2em;
    background-color: transparent;
    border-radius: 2px;
    /* use em and rem isntead of px works best for both . */
}

.secondary-btn {
    border:0.5px solid var(--secondary-btn);
    color:var(--secondary-btn);
    padding:10px 25px;
    background-color: transparent;
    border-radius: 2px;
}
.link-btn {
    border:0.5px solid var(--link-btn);
    color:var(--link-btn);
    padding:10px 25px;
    background-color: transparent;
    border-radius: 2px;
}

.btn-home{
    border:transparent;
    background-color:transparent;
    color: var(--primary-btn);
    /* cursor: pointer; */
    font-size: 25px;
    padding:0.7rem;
    /* text-decoration:none; */
}
.btn-bars{
    border:transparent;
    background-color:transparent;
    color: var(--primary-btn);
    /* cursor: pointer; */
    font-size: 30px;
}
.btn-trash{
    border:transparent;
    background-color:transparent;
    color: var(--warning-font);
    /* cursor: pointer; */
    font-size: 30px;
}
.btn-close{
    border:transparent;
    background-color:transparent;
    color: var(--link-btn);
    /* cursor: pointer; */
    font-size: 30px;
}
.btn-folder{
    border:transparent;
    background-color:transparent;
    color: var(--secondary-btn);
    /* cursor: pointer; */
    font-size: 30px;
}
.btn-close{
    border:transparent;
    background-color:transparent;
    color: var(--link-btn);
    /* cursor: pointer; */
    font-size: 30px;
}
.btn-plus-circle{
    border:transparent;
    background-color:transparent;
    color: var(--secondary-btn);
    /* cursor: pointer; */
    font-size: 30px;
}
.btn-pencil{
    border:transparent;
    background-color:transparent;
    color: var(--secondary-btn);
    /* cursor: pointer; */
    font-size: 30px;
    
}

.card {
    /* border: 1px solid black; */
    display: grid;
    grid-template-areas: 
    "img sidetxt "
    "img sidetxt "
    "img sidetxt ";
    height: 250px;
    max-width:450px;
    background-color: #515151;
    color:white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.horizontal-card-text{
    grid-area: sidetxt;
    position: relative;
}
.side-text{
    padding-left:5px;
}

.link-in-action{
    position: relative;
    top:40%;
    padding-left:5px;
}
.image-oncard{
    height: 250px;
    /* max-width: 250px; */
    grid-area:img;
}


/* vertical card */
.vertical-card {
    /* border: 1px solid black; */
    display: flex;
    flex-direction:column;
    height: auto;
    width:300px;
    background-color: #515151;
    color:white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.vertical-img{
    height: 250px;
    max-width: 300px;

}
.vertical-card-txt {
    /* border: 1px solid black; */
    height:100%;
    width:100%;
    padding-left: 20px;
    /* flex:auto; */
}

/* .txt-card {
    border: 1px solid black;
    max-height: 250px;
    max-width: 250px;
}

.t-card {
    border: 1px solid black;
    height: 150px;
    margin: 0px;
}

.txt {
    border: 1px solid black;
    height: 100px;
} */


.nav {
    border: 1px solid black;
}

.inline-list {
    display: inline;
    padding: 6px;
}

.banner {
    border: 1px solid black;
    height: 200px;
    width: auto;
}